@font-face {
    font-family: Monalisa;
    src: url('./assets/fonts/Monalisa.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

:root {
    --dracula-orchid: #2d3436;
    --green: #beb754;
    --brown-green: #7e6c38;
    --araza-yellow: #d7b85f;
    --oragenville: #e17055;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--brown-green);
    border-radius: 1rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--araza-yellow);
}

.link {
    text-decoration: none;
}

.navbar {
    width: 97vw;
    display: flex;
    place-content: baseline space-between;
    align-items: center;
    flex-flow: row nowrap;
    margin: 0 2rem;
    top: 0;
    z-index: 10;
    position: fixed;
    background-color: transparent;
}

.navbar__brand {
    color: var(--dracula-orchid);
    font: 500 24pt Monalisa;
    letter-spacing: 0.045em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.navbar__nav {
    display: flex;
    place-content: center space-between;
    align-items: center;
    gap: 4rem;
    list-style-type: none;
}

.navbar__nav--item {
    padding-bottom: 1.2rem;
}

.navbar__nav--item:not(:last-child):hover {
    border-bottom: 1px solid var(--brown-green);
}

.navbar__link {
    display: inline-block;
    color: var(--dracula-orchid);
    font: 600 12pt Roboto;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.045em;
    transition: all .3s ease 0s;
}

.navbar--login {
    color: var(--dracula-orchid);
    background-color: var(--oragenville);
    padding: .8rem;
    border-radius: 2rem;
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--araza-yellow);
}

.header__logo {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    filter: drop-shadow(50px 10px 40px rgba(0, 0, 0, 0.8));
    -webkit-filter: drop-shadow(50px 10px 40px rgba(0, 0, 0, 0.8));
}

.header__brand {
    color: var(--dracula-orchid);
    font: 500 52pt Monalisa;
    letter-spacing: 0.045em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.header__legend {
    color: var(--brown-green);
    font: 500 14pt Roboto;
    letter-spacing: 0.045em;
    padding: 1.6rem 4rem;
    border-top: 1px solid var(--brown-green);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 12rem 0;
    background-color: var(--araza-yellow);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact__text {
    color: var(--dracula-orchid);
    font: 500 28pt Monalisa;
    letter-spacing: 0.045em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.contact__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact__link {
    color: var(--brown-green);
    font-size: 23pt;
}