@font-face {
    font-family: Monalisa;
    src: url('./assets/fonts/Monalisa.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

:root {
    --dracula-orchid: #2d3436;
    --green: #beb754;
    --brown-green: #7e6c38;
    --araza-yellow: #d7b85f;
    --oragenville: #e17055;
    --city-lights: #dfe6e9;
    --araza--brown: #bea254;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--brown-green);
    border-radius: 1rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--araza--brown);
}

.link {
    text-decoration: none;
}

.navbar {
    width: 97vw;
    display: flex;
    place-content: baseline space-between;
    align-items: center;
    flex-flow: row nowrap;
    margin: 0 2rem;
    top: 0;
    z-index: 10;
    position: fixed;
    background-color: transparent;
}

.navbar__brand {
    color: var(--dracula-orchid);
    font: 500 24pt Monalisa;
    letter-spacing: 0.045em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.navbar__nav {
    display: flex;
    place-content: center space-between;
    align-items: center;
    gap: 4rem;
    list-style-type: none;
}

.navbar__nav--item {
    position: relative;
}

.navbar__nav--item:not(:last-child)::before {
    content: '';
    height: .3rem;
    width: 0;
    background-color: var(--brown-green);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar__nav--item:not(:last-child):hover::before {
    width: 100%;
}

.navbar__link {
    display: inline-block;
    color: var(--dracula-orchid);
    font: 600 12pt Roboto;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.045em;
    transition: all .3s ease 0s;
}

.navbar--login {
    color: var(--dracula-orchid);
    background-color: var(--oragenville);
    padding: .8rem;
    border-radius: 2rem;
}

.header {
    height: 100vh;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--araza-yellow);
}

.header__logo {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    filter: drop-shadow(50px 10px 40px rgba(0, 0, 0, 0.8));
    -webkit-filter: drop-shadow(50px 10px 40px rgba(0, 0, 0, 0.8));
}

.header__brand {
    color: var(--dracula-orchid);
    font: 500 52pt Monalisa;
    letter-spacing: 0.045em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.header__legend {
    color: var(--brown-green);
    font: 500 14pt Roboto;
    letter-spacing: 0.045em;
    padding: 1.6rem 4rem;
    border-top: 1px solid var(--brown-green);
}

.footer {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 12rem 0;
    background-color: var(--araza-yellow);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact__text {
    color: var(--dracula-orchid);
    font: 500 28pt Monalisa;
    letter-spacing: 0.045em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.contact__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact__link {
    color: var(--brown-green);
    font-size: 23pt;
}

.main {
    background-color: var(--city-lights);
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 8rem 20vh;
}

.main__title {
    color: var(--dracula-orchid);
    font: 600 18pt Roboto;
}

.products {
    display: grid;
    grid-gap: 3.2rem 2.4rem;
    grid-auto-rows: 36rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-flow: dense;
}

.card {
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .25);
    background: var(--green);
    transition: all 800ms ease;
}

.card:hover {
    box-shadow: 8px 15px 30px rgba(0, 0, 0, .5);
    transform: translateY(-4%);
}

.card__img {
    width: 100%;
    height: 16rem;
    object-fit: fill;
    border-radius: 2rem;
    filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.5));
}

.card__content {
    padding: .4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
}

.card__title {
    font: 500 14pt Roboto;
}

.card__description {
    font: 300 10pt Roboto;
    text-align: center;
}

.card__btn {
    align-self: end;
    display: inline-block;
    font: 700 12pt Roboto;
    letter-spacing: 0.045em;
    padding: .8rem 2rem;
    background-color: var(--oragenville);
    color: var(--city-lights);
    border-radius: 1.2rem;
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .25);
}

.card__btn:hover {
    box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
}